@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,800;1,500;1,600&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$font-poppins: "Poppins", sans-serif;
$primary-color: #b6895b;
$text-color: #f4fefd;
$bg-primary: rgb(25, 25, 25);
$bg-secoundry: rgba(72, 72, 72, 0.616);
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

@mixin flex-box($justify, $align, $direction: row, $gap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

* {
  font-family: $font-poppins;
}

.cofee-pasti {
  background-color: $bg-primary;
}

// antd popover
.ant-popover-inner {
  min-width: 300px !important;
  min-height: 150px !important;
}

// antd button
.button-antd {
  color: $text-color;
  background-color: transparent !important;
  border: none !important;
  &:hover {
    color: $primary-color !important;
  }
}

// antd Cart
.ant-card {
  .ant-card-cover {
    border-radius: 0 !important;
  }
  .ant-card-body {
    color: $bg-primary;
    padding: 8px !important;
    width: 100% !important;
    border-radius: 0 !important;
  }
}

// antd drawer
.ant-drawer-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.my-navbar {
  @include flex-box(space-between, center, row, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  padding: 0 24px;
  color: $text-color;
  font-size: 16px;
  background-color: $bg-primary;
  z-index: 100;
  .logo {
    font-style: italic;
    font-weight: 700;
    span {
      color: $primary-color;
    }
  }
}

.input-search {
  color: $bg-primary;
}

.nav-responsive {
  @include flex-box(start, start, column, 16px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $bg-primary;
  color: $text-color;
  z-index: -50;
  padding: 80px 16px 0 16px;
  li {
    padding-left: 16px;
    border-bottom: 2px solid $primary-color;
    width: 100%;
    &:hover {
      color: $primary-color;
    }
    a {
      display: inline-block;
      width: 100% !important;
    }
  }
}

.hero-section {
  background-image: url(../assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $text-color;
  text-shadow: $text-shadow;
  .btn-buy-now {
    color: $text-color !important;
    background-color: $primary-color !important;
    width: auto !important;
    max-width: 150px !important;
    border: none;
  }
}

.menu-section {
  @include flex-box(start, center, column, 0);
  color: $text-color;
  background-color: $bg-primary;
  padding: 80px 16px 0 16px;
  width: 100%;
  .header {
    @include flex-box(center, center, column, 0);
    width: 100%;
    text-align: center;
    h5 {
      span {
        color: $primary-color;
      }
    }
  }
  .category {
    @include flex-box(start, center, row, 16px);
    position: sticky !important;
    top: 80px;
    z-index: 40;
    left: 0;
    right: 0;
    background-color: $primary-color;
    width: 100%;
    height: 40px;
    padding: 0 8px;
  }
}

.contener-form {
  background-image: url(../assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .ant-form {
    width: 100vw !important;
    padding: 10px 16px;
    border-radius: 8px;
    color: $text-color;
    background-color: $bg-secoundry;
    backdrop-filter: blur(10px);
    .ant-form-item-label {
      label {
        color: $text-color;
      }
    }
    .ant-input {
      // color:  !important;
      &::placeholder {
        color: $bg-primary !important;
      }
    }
    .ant-btn {
      outline: none !important;
      border: none !important;
      color: $text-color !important;
      background-color: $primary-color;
    }
  }
}
